@{ 
    ViewBag.Title = "Access denied";
}
<div class="container my-5">
    <h1 class="text-center text-danger">
        Can't Access This Page <br /> 
        <button class="btn btn-flat">Goto Home</button>
    </h1>
</div>