
@{
    ViewBag.Title = "Blog";
}

<!-- BLOG AREA START -->
<div class="BLOG mb-100 mt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="blog">
                    <div class="blog__image">
                        <img src="assets/img/Blog/blog1.png" width="370" height="290" alt="blogImage" />
                    </div>
                    <div class="blog__meta">
                        <span>November 26, 2021</span>
                        <h3>The End of the Bonus Culture Is Coming to Wall Street</h3>
                        <a class="fea-link blog_link " href="singleblog.html">
                            Read More<i class="fal fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="blog">
                    <div class="blog__image">
                        <img src="assets/img/Blog/blog2.png" alt="blogImage" />
                    </div>
                    <div class="blog__meta">
                        <span>November 26, 2020</span>
                        <h3>What to Expect From the 2020 Oscar Nominations</h3>
                        <a class="fea-link blog_link " href="singleblog.html">
                            Read More<i class="fal fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="blog">
                    <div class="blog__image">
                        <img src="assets/img/Blog/blog3.png" alt="blogImage" />
                    </div>
                    <div class="blog__meta">
                        <span>November 26, 2020</span>
                        <h3>China State Firm’s $6 Billion Is Loss Among Nation’s.</h3>
                        <a class="fea-link blog_link " href="singleblog.html">
                            Read More<i class="fal fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="blog">
                    <div class="blog__image">
                        <img src="assets/img/Blog/blog4.png" alt="blogImage" />
                    </div>
                    <div class="blog__meta">
                        <span>November 26, 2020</span>
                        <h3>A brand for a company is like a reputation person.</h3>
                        <a class="fea-link blog_link " href="singleblog.html">
                            Read More<i class="fal fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="blog">
                    <div class="blog__image">
                        <img src="assets/img/Blog/blog5.png" alt="blogImage" />
                    </div>
                    <div class="blog__meta">
                        <span>November 26, 2020</span>
                        <h3>10 days quick challange for boost your online visitors.</h3>
                        <a class="fea-link blog_link " href="singleblog.html">
                            Read More<i class="fal fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="blog">
                    <div class="blog__image">
                        <img src="assets/img/Blog/blog6.png" alt="blogImage" />
                    </div>
                    <div class="blog__meta">
                        <span>November 26, 2020</span>
                        <h3>The Belgian Exodus of World War One.</h3>
                        <a class="fea-link blog_link " href="singleblog.html">
                            Read More<i class="fal fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="paginati">
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- BLOG AREA END -->